.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .backdropChildren {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.backdropShow {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

.backdropHide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}
