.filtersContainer {
  .seperateFiltersContainer {
    margin-bottom: 1rem;
  }
  .normalFiltersContainer {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-bottom: 1rem;
    width: 100%;
    transition: all 1s;
    cursor: pointer;
    .heading {
      font-weight: 600;
      padding: 16px 8px;
      border: 1px solid #eeeff1;
      border-bottom: none;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
    }
  }
}
