@import "../../../styles/abstracts/mixins";

.sidebarContainer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5500;
  opacity: 0;
  width: 0;
  background-color: white;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  .sidebarHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebarChildContainer {
    height: 100%;
    width: 100%;
  }
}

.sidebarOpen {
  opacity: 1;
  width: 50%;
}
