@import "../../../styles/abstracts/mixins";

.sidebarContainer {
  height: 0;
  position: fixed;
  bottom: 0;
  z-index: 5500;
  opacity: 0;
  width: 100vw;
  visibility: hidden;
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px #0000000f, 0 3px 12px #00000005;
  padding: 1.2rem;
  .sidebarHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebarChildContainer {
    height: 100%;
    width: 100%;
  }
  @include respond(990) {
    max-width: 580px;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: unset;
    max-height: unset;
    width: 0;
  }
}

.sidebarOpen {
  opacity: 1;
  visibility: visible;
  height: 80vh;
  @include respond(990) {
    opacity: 1;
    visibility: visible;
    width: 75vw;
    height: 100vh;
  }
}
