@import "../../../styles/abstracts/variables";

.numberCounter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.244);
  width: min-content;
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: none;
    background: none;
    transition: all 0.3s;
    color: black;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: black;
      padding: 0.5rem;
    }
    &:hover {
      transform: scale(1.5);
    }
    &:active {
      transform: scale(1);
    }
  }
  .inputControls {
    .inputField {
      height: inherit;
      font-size: 1rem;
      font-family: inherit;
      color: inherit;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border: none;
      display: block;
      text-align: right;
      transition: all 0.3s;
    }
  }
}
