@import "../../styles//abstracts/mixins";
.homePageContainer {
  width: 100%;
  height: 100%;
  .homePageSectionContainer {
    width: 100%;
    height: 100%;
  }
  // ============== Center Image ===============//
  .homePageCenterImageContainerStyles {
    width: 100%;
    height: 68vh;
    @include respond(990) {
      height: 70vh;
    }
    .homePageCenterImageMediaStyles {
      object-fit: cover;
      transform: scale(1);
      @include respond(480) {
        transform: scale(1.1);
      }
    }
    .homePageCenterOverlayTextContainerStyles {
      align-items: flex-end;
    }
  }
  // ============== Product Images ===============//
  .homePageCircleProductSliderContainer {
    width: 100%;
    margin-top: 6rem;
    .circleImage {
      width: 100%;
      height: 100%;
      max-height: 200px;
      clip-path: circle(50%);
      border-radius: 50% !important;
      overflow: hidden;
    }
  }
  .homePageSquareProductSliderContainer {
    width: 100%;
    margin-top: 4rem;
    .squareImage {
      width: 100%;
      height: 70%;
    }
  }
  .image {
    object-fit: cover;
  }

  // ============== Collage ===============//
  .homePageCollageContainer {
    width: 100%;
    margin-top: 6rem;
  }
  .homePageReverseCollageContainer {
    width: 100%;
    margin-top: 2rem;
  }
}
